*{
margin: 0;
padding: 0;
}

/* modif style attribution
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

body{
  background-color: hsl(225, 100%, 94%);
  max-width: 100%;
}

.background{
  z-index: -1;
  height: 30em;
  width : 100%;
}

.background, section, .attribution{
  position: absolute;
}

section{
  background: white;
  border-radius: 10px;
  margin: 5em auto;
  width: 380px;
  margin-left: 50%;
  margin-right: 50%;
  height: 35em;
}


#header{
  width: auto;
  height: 11.6em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.text-center{
  text-align: center;
}

.attribution{
 text-align: center;
}
